faustserver
config.log
config.status
config.h
Makefile.in
aclocal.m4
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/output.3
autom4te.cache/traces.1
autom4te.cache/traces.2
autom4te.cache/traces.3
autoscan.log
configure.scan
depcomp
install-sh
missing
stamp-h1
.deps/

*.o
*~
