[Unit]

Description=faust remote compilation service

Wants=network-online.target
After=network.target network-online.target

[Service]

User=faust
Group=faust
WorkingDirectory=HOMEPATH/FaustInstall/faustservice

Environment="ROS_ROOT=/opt/ros/jade/share/ros"
Environment="ROS_PACKAGE_PATH=/opt/ros/jade/share:/opt/ros/jade/stacks"
Environment="ROS_MASTER_URI=http://localhost:11311"
Environment="ROS_DISTRO=jade"
Environment="CMAKE_PREFIX_PATH=/opt/ros/jade"
Environment="ROS_ETC_DIR=/opt/ros/jade/etc/ros"
Environment="ANDROID_ROOT=/opt/android"
Environment="ANDROID_SDK_ROOT=/opt/android/sdk"
Environment="ANDROID_NDK_ROOT=/opt/android/ndk"
Environment="ANDROID_HOME=/opt/android/sdk"
Environment="ANDROID_NDK_HOME=/opt/android/ndk"
Environment="CPATH=/opt/ros/jade/include"
Environment="PATH=/usr/lib/jvm/java-8-openjdk-amd64/bin:/opt/ros/jade/bin:/home/faust/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/android/ndk:/opt/android/sdk/platform-tools:/opt/android/sdk/tools:/home/faust/.rvm/bin:/home/faust/bin:/home/faust/.rvm/bin"

Type=simple
ExecStart=HOMEPATH/FaustInstall/faustservice/faustweb

[Install]
WantedBy=multi-user.target

